.news-post {
  background-color: rgb(75 75 75 / 100%);
  margin-bottom: 1rem;
  max-width: 768px;
  padding: 0.5rem 2rem;
  text-align: start;

  time {
    font-style: italic;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 1rem;

    .meta-tag {
      background-color: lightgrey;
      color: #1a1a1a;
      margin: 0.5rem 1rem;
      padding: 0.5rem;
    }
  }
}
