.news-post {
  background-image: url("/images/pale-gray-grained-wall-template.jpg");
  color: black;
  margin-bottom: 4rem;
  max-width: 768px;
  padding: 0.5rem 2rem;
  text-align: start;

  &-body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    text-shadow: #999 1px 1px 1px;

    p {
      overflow: hidden;
      padding: 4px;
    }
  }

  time {
    font-style: italic;
  }

  // custom css classes for images from sanity
  .img-full-width {
    width: 100%;
  }

  .img-half-width {
    height: auto;
    max-width: 50%;
    width: 50%;

    &.left {
      float: left;
      margin: 5px 5px 5px 0;
    }

    &.right {
      float: right;
      margin: 5px 0 5px 5px;
    }
  }

  footer {
    display: flex;
    flex-flow: row wrap;
    padding: 0 0 1rem;

    .meta-tag {
      background-color: whitesmoke;
      color: #1a1a1a;
      margin: 0.5rem 1rem;
      padding: 0.5rem;
    }
  }
}
