@import url("../../styles/variables.less");

.button-wrapper {
  background-image: @button-gradient;
  border-radius: 2%;
  color: #808080;
  cursor: pointer;
  display: inline-flex;
  filter: grayscale(60%);
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  margin: 5px;
  max-width: 375px;
  min-width: 200px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-shadow: #333 2px 2px 1px;

  &:hover {
    color: #f0f0f0;
    filter: none;
    text-decoration: underline;
    text-shadow: #1a1a1a 3px 3px 1px;
  }
}

@media (width >= 480px) {
  .button-wrapper {
    max-width: 200px;
  }
}

@media (width >= 768px) {
  .button-wrapper {
    max-width: 248px;
    min-width: 248px;
  }
}
