h1 {
  font-size: 2.2em;
  line-height: 0.125em;

  span {
    display: block;
  }
}

.home-content {
  display: flex;
  justify-content: center;
}

.desktop-nav-menu {
  display: none;
}

.mobile-nav-menu {
  display: block;
}

@media (width >= 480px) {
  h1 {
    font-size: 3em;
  }
}

@media (width >= 768px) {
  h1 {
    font-size: 3em;
  }

  .desktop-nav-menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .home-content {
    display: flex;
    justify-content: center;
  }

  .mobile-nav-menu {
    display: flex;
    flex-direction: column;
  }

  .nav-left {
    position: relative;
  }

  .nav-right {
    position: relative;
  }

  .profile-center {
    position: relative;
    z-index: 2;
  }
}

@media (width >= 1024px) {
  h1 {
    font-size: 3em;
  }

  .desktop-nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .mobile-nav-menu {
    display: none;
  }

  .nav-left {
    position: relative;
  }

  .nav-right {
    position: relative;
  }

  .profile-center {
    position: relative;
    z-index: 2;
  }
}
