@import url("../../styles/variables.less");

.links {
  background-image: url("/images/starfield1-lowcontrast.jpg");
  border-radius: 5px;
  color: white;
  padding: 5% 10%;
  text-align: start;

  ul {
    font-family: monospace;
    padding-inline-start: 8px;
    text-shadow: @shadow-color-dark @shadow-shallow;
  }

  &:nth-of-type(1) {
    margin-bottom: 80px;
  }

  h2 {
    text-align: center;
    text-decoration: underline 1px double;
  }

  a {
    color: #00e; // unvisited link (blue)
    &:visited {
      color: #551a8b; // visited link (purple)
    }

    &:active {
      color: #f00; // active link (red)
    }
  }
}
