.navigation-buttons {
  border: none;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;

  .nav-button {
    border: none;
    cursor: pointer;

    &-back {
      background-image: linear-gradient(
        90deg,
        rebeccapurple 30%,
        slategray 100%
      );
      border: none;

      &:hover {
        filter: invert(0.75);
        text-decoration: underline;
      }
    }

    &-forward {
      background-image: linear-gradient(
        270deg,
        rebeccapurple 30%,
        slategray 100%
      );
      border: none;

      &:hover {
        filter: invert(0.75);
        text-decoration: underline;
      }
    }

    &-home {
      background-color: rebeccapurple;
      border: none;
      margin: 0 1rem;
    }
  }
}
