@import url("../../styles/variables.less");

@faq-box-shadow: 5px 10px rgb(53, 53, 53);

.faq-element {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  max-width: 768px;
  padding: 0 16px 16px;
  text-align: start;
  width: 80%;

  .faq-answer {
    background-color: deeppink;
    box-shadow: @faq-box-shadow;
    color: #000;
    font-style: italic;
    padding: 8px;
    text-shadow: @shadow-color-medium @shadow-shallow;
  }

  .faq-index {
    background-color: #555;
    left: -10px;
    max-width: fit-content;
    padding: 8px;
    position: relative;
    top: 40px;
  }

  .faq-question {
    background-color: turquoise;
    box-shadow: @faq-box-shadow;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 8px 8px 24px;
    text-shadow: @shadow-color-medium-light @shadow-shallow;
  }
}
