#root {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
  text-align: center;
}

.page-container {
  padding: 8px;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  color: black;
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
